<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid with Hover Effect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="grid-container">
        {% for i in range(1, 11) %}
            {% for j in range(1, 11) %}
                <div class="grid-item" id="{{ i }}-{{ j }}"></div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="info-frame">
        <!-- <div id="hoveredBox">Hovered Box: </div> -->
        <div id="currentPosition">Current Position: </div>
        <div id="arduinoStatus">Arduino: Stopped</div>
    </div>

    <div class="menu">
        <button id="startStopBtn" class="menu-button">Start</button>
        <button onclick="location.href='/help'" class="menu-button">Help</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
